*{

    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(45deg, rgb(10, 9, 19), rgb(44, 41, 41));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color:#fff;
    

}
input, button{
    outline: none;
    border: none;
    margin: 20px;
}
button{
    background: none;
    border: 1px solid #fff;
    color: white;
    height: 1cm;
    width: 5cm;
}
input{
    height: 0.1cm;
    width: 5cm;
    border-radius: 10px;
    padding: 10px;
}